<div class="form-group">
  <%= form.label :ideas, :class => "control-label" %>

  <% if @collection.ideas.any? %>
  <div class="collection-ideas">
    <% @collection.ideas.each_with_index do |idea, index| %>
    <button type="button" class="btn btn-default btn-sm collection-idea-button">
      <%= idea.title %> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <%= form.hidden_field "ideas[#{index}]", :value => idea.sha %>
    </button>
    <% end %>
  </div>
  <% else %>
    <p>This collection has no ideas</p>
  <% end %>
</div>
