<div class="row">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

    This is it!
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <span class="login-block">
      <p class="name"><%= link_to "Sign in with Orcid", "/auth/orcid" %></p>
    </span>
  </div>
</div>
