<div class="page-header">
  <h1>Please log in</h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
    <p>Before you can submit an idea we need you to log in.</p>
    <p>The Journal of Brief Ideas uses ORCID accounts for user accounts. Click the 'Sign in with ORCID' link to the right to get started.</p>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>
  </div>
</div>
