<div class="well derivatives">
  <p><strong>Ideas citing this work</strong></p>

  <ul>
    <% idea.citations.published.each do |child| %>
    <li><%= link_to child.title, idea_path(child) %></li>
    <% end %>
  </ul>
</div>
