<div class="form-group">
  <div class="well references">
    <p><strong>Journal of Brief Ideas references</strong></p>

    <ul>
    <% references.each do |reference| %>
      <li><%= link_to reference.title, idea_path(reference) %></li>
    <% end %>
    </ul>
  </div>
</div>
