<div class="page-header">
  <h1>The Journal of Brief Ideas</h1>
</div>

<div class="row form">
  <div class="col-sm-12">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

    <h3>What is this?</h3>

    <p>It's a research journal, composed entirely of 'brief ideas'. The goal here is to provide a place for short ideas to be described (in 200 words or less), for these ideas to be archived (courtesy of <a href="http://zenodo.org">Zenodo</a>), searchable and citable.</p>

    <p>It's a work in progress by <a href="http://twitter.com/arfon">@arfon</a>, <a href="http://twitter.com/larshankat">@larshankat</a>, <a href="http://twitter.com/physicsdavid">@physicsdavid</a> and <a href="http://twitter.com/stuart_lynn">@stuart_lynn</a></p>

    <p>You can see the latest build of this running at <a href="http://ideas.theoj.org">http://ideas.theoj.org</a></p>

    <h3>Why are you doing this?</h3>

    <p>We think that that there is an inherent inefficiency in scientific publishing due to the quantum (or minimum publishable amount) of research being too large. It can takes many years to do enough research for a publication in a top-tier journal. Meanwhile, all that intellectual capital is tied up solely in the heads of the researchers rather than circulating where it could be doing some good. Also, many research ideas and results are not publishable because they are small, negative, partial, or just don't fit the criteria of other journals. But many of them can be expressed briefly and could aid other researchers.</p>

    <h3>Why would I put out a partial or in-progress result to the world? Won't it just get stolen?</h3>

    <p>Primarily because it is part of being a good scientific citizen but you also might get the feedback you need to improve your research. Entries in the Journal of Brief Ideas are permanently archived, searchable, and citable, so they have the same publication status as in any other journal. That means that you can get credit for your idea as soon as you have it. You can put the entry on a CV, attach it to your ORCID profile, or use it as you would any other publication.</p>

    <p>In addition, if you are a good researcher, you have more ideas than you can pursue at length. Wouldn't you rather be credited for those ideas and see somebody else build on them than have them disappear from the research community completely, or have somebody later come up with the same idea and have them get credit for it?</p>

    <h3>What about peer review?</h3>

    <p>For something as brief as 200-words, wouldn't you rather just judge the quality of an idea yourself rather than have that judgement proxied by an anonymous peer reviewer? It is impractical to have 200-word ideas reviewed pre-publication so we choose to have a post-publication review system. There is a rating for each idea and for each researcher so you can judge quality by those ratings if you don't trust your own judgement. </p>

    <h3>So are you against peer review?</h3>

    <p>Not at all. Peer review is quite appropriate for many types of publications and for grant applications and funding, but peer review doesn't seem very workable when the idea is so brief. Any review is likely to be longer than the idea itself and so would be better off put out there as a further idea building on the original.</p>

    <h3>200 words? Really? What can you say in 200 words?</h3>

    <p>If we go back into the vaults of history, we find the original scientific journals published primarily letters that were often around the 200 words length. Somehow, they managed to say important things in that length. There's no reason why you can't also. Publishing a brief idea doesn't prohibit you form expanding on the idea at length and publishing a fuller version in some other journal, of course.</p>

    <h3>Who's building this thing, how can I help?</h3>

    <p>This is very much a work in progress. We've got a <a href="https://github.com/openjournals/brief-ideas/milestones">milestone tracking</a> the beta release.</p>

    <br />
  </div>
</div>
