<% if params[:collection_id] && params[:collection_id] == "d4dbcbf82a7ba0e11b4eb5e19a59953e" %>
<div class="well">
  <p><strong>Open Research Accelerator: What to include in your application</strong></p>

  <ul>
    <li>Summary of your project. What are you building?</li>
    <li>How does your project further open science on the web?</li>
    <li>Links to a GitHub repo or any other relevant links</li>
  </ul>

  <p><strong>What kinds of projects?</strong></p>

  <p>Anything related to doing or teaching open science is appropriate for the Open Research Accelerator. These can be tool-based, open educational resources or any other project ideas that further open science and allow others to contribute.</p>

</div>
<% end %>
