$font-stack:    Helvetica, sans-serif
$primary-color: #333

body
  font: 100% $font-stack
  color: $primary-color

.container
  width: 900px
  margin: 0px auto

  p.text-muted
    margin: 20px 0px

.avatar
  width: 60px
  padding-right: 10px
  float: left

.page-header
  h1
    padding-top: 0px
    margin-top: 0px

.login-block
  .name

.bg-danger, .bg-warning, .bg-success, .bg-info
  padding: 15px

.footer
  position: absolute
  bottom: 0
  width: 100%
  /* Set the fixed height of the footer here */
  height: 60px
  background-color: #f5f5f5

  .twitter
    color: #777
