// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.warning
  color: red

input
  width: 100%
  &.typeahead
    width: 750px

form#new_idea
  padding-bottom: 50px

.full
  display: block

.tt-suggestions
  background: white
  padding: 3px 20px
  font-weight: 400
  line-height: 1.42857143
  white-space: nowrap
  color: #333
  background-clip: padding-box
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,.15)
  border-radius: 4px
  width: 750px
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
  box-shadow: 0 6px 12px rgba(0,0,0,.175)
  cursor: pointer
  cursor: hand
