<% if current_user && idea.voted_on_by?(current_user) %>
  <button type="button" class="btn btn-default btn-xs vote voted">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= idea.current_vote %>
  </button>
<% else %>
  <%= button_to({ :controller => 'votes', :action => "create", :idea_id => idea.id }, :remote => true, :class => "btn btn-default btn-xs vote") do %>
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= idea.current_vote %>
  <% end %>
<% end %>
